{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-3 text-justify-content-center">
    <h2 class="text-warning mb-5 border-bottom">PROJECTS</h2>

        <div class="row text-white text-center text-justify my-5                                                                                                                                                                                                                                                                                                                                                  mx-2">
        <div class="col-sm-6">
        <img src="{% static 'core/images/5.jpg'%}" alt="profilepic"
        class="img-thumbnail" width="300px" height="150px">
        <h3 class="mt-3">Laundry Management System</h3>
        <div class="">
        <p>Laundry Management System-A simple laundry shop customer details management system.(2020)</p>
        <p><b class="text-warning">Skills used-</b>Python, Django, SQLite, HTML, CSS, bootstrap, JavaScript</p></div>
        <a href="https://github.com/Ontorzx/Laundry_management_system"><b class="text-success"> Github</b></a>
        </div>

                <div class="col-sm-6">
        <img src="{% static 'core/images/6.jpg'%}" alt="profilepic"
        class="img-thumbnail" width="300px" height="150px">
        <h3 class="mt-3">Eshop Ecommerce Website</h3>
        <div class="">
        <p>Eshop Ecommerce Website-That have all kind of facilities of an ecommerce web.Product details,caragory and
        price are set according to product.customer nac card and bye the items by online(2020)</p>
        <p><b class="text-warning">Skills used-</b>Python, Django, SQLite, HTML, CSS, bootstrap, JavaScript</p></div>
        <a href="https://github.com/Ontorzx/Eshop-Ecommerce-Website-With-Django"><b class="text-success"> Github</b></a>
        </div>

    <div class="row text-white text-center text-justify mb-5                                                                                                                                                                                                                                                                                                                                                    mx-2">
        <div class="col-sm-6">
        <img src="{% static 'core/images/1.jpg'%}" alt="profilepic"
        class="img-thumbnail" width="300px" height="150px">
        <h3 class="mt-3">Diabetes Prediction</h3>
        <div class="">
        <p>Diabetes Prediction system ,predicted diabetes according to symptom using Machine learning.
         According to the patient symptoms system predicted the diabetes disease by the dataset (2019-20)</p>
        <p><b class="text-warning">Skills used-</b> Python, Machine learning</p></div>
        <a href="https://github.com/Ontorzx/Diabetes-prediction-with-ML"><b class="text-success"> Github</b></a>
        </div>

                <div class="col-sm-6">
        <img src="{% static 'core/images/2.jpg'%}" alt="profilepic"
        class="img-thumbnail" width="300px" height="100px">
        <h3 class="mt-3">Anomaly Detection</h3>
        <div class="">
        <p>Anomaly Detection- Automated water Treatment plant using Machine learning.
        it make the predicted output according to the data of sensors and Actuators. (2019-20) </p>
        <p><b class="text-warning">Skills used-</b> Python, Machine learning</p></div>
        <a href="https://github.com/Ontorzx/secure_water_treatment_system"><b class="text-success"> Github</b></a>
        </div>



    <div class="row text-white text-center text-justify my-5                                                                                                                                                                                                                                                                                                                                                  mx-2">
        <div class="col-sm-6">
        <img src="{% static 'core/images/ontor1.jpg'%}" alt="profilepic"
        class="img-thumbnail" width="300px" height="150px">
        <h3 class="mt-3"> Doctor appointment system</h3>
        <div class="">
        <p>Doctor appointment system-A system where patients can easily get 
        access to the doctor's profile and make online appointments. (2018-19) </p>
        <p><b class="text-warning">Skills used-</b> PHP, MySQL, HTML, CSS, bootstrap</p></div>
        <a href="https://github.com/Ontorzx/Online_Doctor_appoinment_ststem"><b class="text-success"> Github</b></a>
        </div>

                <div class="col-sm-6">
        <img src="{% static 'core/images/4.jpg'%}" alt="profilepic"
        class="img-thumbnail" width="300px" height="100px">
        <h3 class="mt-3">Online Blog</h3>
        <div class="">
        <p>A blogging system where have all the post according to different category. Admin and author panel 
        can Edit,delete, add and customize the post in blog. (2020) </p>
        <p><b class="text-warning">Skills used-</b>Python, Django, SQLite, HTML, CSS, bootstrap, JavaScript</p></div>
        <a href="https://github.com/Ontorzx/Online-Blog"><b class="text-success"> Github</b></a>
        </div>
        </div>
</div>


{% endblock content %}


