{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5 mb-3 text-justify-content-center">
    <h3 class="text-warning mb-5 border-bottom">SERVICES</h3>
    <div class="row text-white text-center text-justify mb-5                                                                                                                                                                                                                                                                                                                                                    mx-2">
        <div class="col-sm-4">
        <i class="fas fa-code fa-2x mb-2 i-color"></i>
        <h3>Web Development</h3>
        <div class="text-justify mt-3">
        <p>For the Development of any web backend is the connection of frontend interface</p>
        I would like to use <b class="text-warning">Python with django freamwork and PHP </b> for web Development</div>
        </div>
                <div class="col-sm-4">
        <i class="fas fa-palette fa-2x mb-2 i-color"></i>
        <h3>Web Design</h3>
        <div class="text-justify mt-3">
        <p>For The Frontend Development of any web page I like to work with <b class="text-warning">HTML5,
        CSS3,Bootstrap,JavaScript</b></p></div>
        </div>
                <div class="col-sm-4">
        <i class="fas fa-database fa-2x mb-2 i-color"></i>
        <h3>Database</h3>
        <div class="text-justify mt-3">
        <p>For the Data Distribution and Data Arrangement I would like to work with,<b class="text-warning">SQL Server,SQLite,PostgraSQL.</b></p></div>
        </div>
    </div>

    <div class="row text-white text-center text-justify mb-5 mx-3">
        <div class="col-sm-4">
        <i class="fas fa-server fa-2x mb-2 i-color"></i>
        <h3>data Science</h3>
        <div class="text-justify mt-3">
        <p>For the Data Science Field There have lots of models and packages.I trided to use this according to need with <b class="text-warning"> Python</b></p></div>
        </div>
                <div class="col-sm-4">
        <i class="fas fa-network-wired fa-2x mb-2 i-color"></i>
        <h3>Computer Networking</h3>
        <div class="text-justify mt-3">
        <p>I love to work with <b class="text-warning">Cisco packages</b> and security of data follow with<b class="text-warning"> TCP/IP Protocol</b></p></div>
        </div>
                <div class="col-sm-4">
        <i class="fas fa-pencil-alt fa-2x mb-2 i-color"></i>
        <h3 class="">Logo Design</h3>
        <div class="text-justify mt-3">
        <p>I Can Make Professional and Premium logo with <b class="text-warning">Photoshop and illustrator</b> </p></div>
        </div>
    </div>

       
    
    </div>   
{% endblock content %}

{% block footer %}
<div class="text-center pb-5">

    <a href="https://github.com/Ontorzx"target="_blank"> <i class="fab fa-github fa-2x mr-4 i-color me-3"></i> </a>
    <a href="https://www.facebook.com/profile.php?id=100008000626700"target="_blank"> <i class="fab fa-facebook fa-2x mr-4 i-color me-3"></i> </a>
    <a href="https://www.networkworldweb.com/"target="_blank"> <i class="fab fa-blogger fa-2x mr-4 i-color me-3"></i> </a>
    <a href="https://www.linkedin.com/in/khairul-islam-69a9671a3/"target="_blank"> <i class="fab fa-linkedin fa-2x mr-4 i-color me-3"></i> </a>
    <a href="https://www.youtube.com/channel/UCdJ_TZarKsnxH3TehcrDoBA?view_as=subscriber"target="_blank"> <i class="fab fa-youtube fa-2x mr-4  i-color me-3"></i> </a>
</div>
{% endblock footer %}